<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>怪物猎人:归途</title>
    <link rel="stylesheet" type="text/css" href="./css/csshake.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">
    <link href="./css/hover.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
    <div id="mainMenu">
        <div id="bti"></div>
        <h2><span id="start" class="cursor hvr-shutter-in-horizontal">开始游戏</span></h2>
        <h2><span id="history" class="cursor hvr-shutter-in-horizontal">历史得分</span></h2>
        <h2><span id="credits" class="cursor hvr-shutter-in-horizontal">制作名单</h2>
        <h2><span id="tuicu" class="cursor hvr-shutter-in-horizontal">退出游戏</span></h2>
        <div id="lsjl" style="display: none;">
            <span id="lsjlS">历史记录</span>
            <button>X</button>
        </div>
    </div>
    <div id="gameBody">
        <div id="player">
            <div id="money">金钱:{{moneyA}}</div>
            <div id="wjzt" style="display: none;">
                <span style="color: rgb(141, 144, 239);">攻击:{{pcc2}}</span><br>
                <span style="color: rgb(254, 119, 0);">特攻:{{pcc3}}</span><br>
                <span style="color: rgb(141, 237, 100);">回复:{{pcc1}}</span><br>
                <span style="color: rgb(241, 213, 28);">增伤:{{pcc4}}</span><br>
                <span style="color: rgb(100, 237, 121);">最大生命值:{{plhh}}</span><br>
                <span style="color: rgb(255, 0, 217);">秘药:{{plmy}}</span>
            </div>
            <div id="wjzt1" style="display: block;">状态栏</div>
            <div id="pm">
                <img src="img/MainCharacter.png">
            </div>
            <span id="zengS">&nbsp;<span>↑</span>{{pc2.toFixed(2)}}</span>
            <div id="plH">
                <div id="plD"></div>
                <span id="plHs">&nbsp;&nbsp;{{Math.floor(plh)}}</span>
            </div>
        </div>
        <div id="playground">
            <div id="emH">
                <div id="emHi">
                    <div id="elD"></div>
                    <span id="elHs">{{Math.floor(elh)}}&nbsp;</span>
                </div>
                <div id="emHit">
                    <img src="./img/Enemies/敌人技能/攻击1.png" v-if="a=='at1'">
                    <img src="./img/Enemies/敌人技能/攻击2.png" v-else-if="a=='at2'">
                    <img src="./img/Enemies/敌人技能/回血.png" v-else-if="a=='he'">
                </div>
            </div>
            <div id="pg" style="display:block;">
                <div id="gmg"></div>
                <img src="./img/Chessboard.png" id="cboard">
                <div id="zz"></div>
            </div>
            <div id="allitm">
                <div id="tsk" style="display:none;">
                    <span id="vct">胜利</span>
                    <br>
                    <span id="gmny">获得金币:{{moneyG}}</span>
                    <br>
                    <button id="hdjb">继续</button>
                </div>
            </div>            
            <!-- 占位，还没写 -->
            <div id="shop" style="display:none;" class="pg">
                <div class="tle">商店</div>
                <div class="goods gd1">
                    <div class="itim"></div>
                    <span class="itN">{{gnArr[gd1]}}</span>
                    <span class="itR">{{grArr[gd1]}}</span>
                    <button>${{moneyN}}</button>
                </div>
                <div class="goods gd2">
                    <div class="itim"></div>
                    <span class="itN">{{gnArr[gd2]}}</span>
                    <span class="itR">{{grArr[gd2]}}</span>
                    <button>${{moneyN}}</button>
                </div>
                <div class="goods gd3">
                    <div class="itim" ></div>
                    <span class="itN">{{gnArr[gd3]}}</span>
                    <span class="itR">{{grArr[gd3]}}</span>
                    <button>${{moneyN}}</button>
                </div>
                <button class="xyg">下一关</button>
            </div>            
            <div id="unKnown" style="display:none;" class="pg">
                <div class="tle">事件</div>
                <!-- 事件区 -->
                <span class="tls">你发现雪漫西边的平原远处有一片不死族坟地 你决定</span>
                <span class="tlb tlb1">去深处探险并与不死族决斗</span>
                <span class="tlb tlb2">往左边走避开不死族</span>
                <button class="xyg" style="display:none;">下一关</button>
            </div>
            <div id="camp" style="display:none;" class="pg">
                <div class="tle">营地</div>
                <div class="tle tle2">选择一个技能升级</div>
                <div class="jine jn1">
                    <div style="background-image:url(./img/棋子/回复药.png);"></div>
                    <span>{{jnArr[jN1]}}</span>
                    <button>升级</button>
                </div>
                <div class="jine jn2">
                    <div style="background-image:url(./img/棋子/回复药.png);"></div>
                    <span>{{jnArr[jN2]}}</span>
                    <button>升级</button>
                </div>
                <button class="xyg">跳过</button>
            </div>
        </div>
        <div id="enemy">
            <div id="emn">关卡{{gBig}}-{{gSmall}}</div>
            <div id="em">
                <img src="./img/Enemies/野猪.png" v-if="a=='yz'">
                <img src="./img/Enemies/冰牙龙.png" v-else-if="a=='byl'">
                <img src="./img/Enemies/变形幼冰鲨.png" v-else-if="a=='ybs'">
                <img src="./img/Enemies/商人.png" v-else-if="a=='sr'">
                <img src="./img/Enemies/大名盾蟹.png" v-else-if="a=='dmdx'">
                <img src="./img/Enemies/天狗兽.png" v-else-if="a=='tgs'">
                <img src="./img/Enemies/奇怪龙.png" v-else-if="a=='qgl'"> 
                <img src="./img/Enemies/妃蜘蛛.png" v-else-if="a=='fzz'">
                <img src="./img/Enemies/怨虎龙.png" v-else-if="a=='yhl'">
                <img src="./img/Enemies/水生兽.png" v-else-if="a=='sss'">
                <img src="./img/Enemies/熔岩兽.png" v-else-if="a=='rys'">
                <img src="./img/Enemies/狡狗龙.png" v-else-if="a=='jgl'">
                <img src="./img/Enemies/白兔兽.png" v-else-if="a=='bts'">
                <img src="./img/Enemies/眠狗龙.png" v-else-if="a=='mgl'">
                <img src="./img/Enemies/臣蜘蛛.png" v-else-if="a=='czz'">
                <img src="./img/Enemies/事件.png" v-else-if="a=='sj'">
                <div v-else></div>
            </div>
        </div>
    </div>
    <script src="./js/main.js"></script>
</body>
</html>
